.container {
  /*  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample57.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  overflow: hidden; */
  color: white;
}
.signup-form {
  padding-top: 10%;
  padding-bottom: 10%;
}
.form-control {
  background-color: transparent !important;
  color: white !important;
}
