.app1 {
  text-align: center;
}
body,
html {
  background-image: url("./batman.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-position: center center;
  overflow: hidden;
  height: 100%;
}
.title {
  color: white;
}
.main .container {
  margin-top: 5%;
}
.ds {
  color: aliceblue;
}
